.svg_block{
    position: absolute;
    opacity: 0.6;
}

.circle_text{
    font-size: 8px;
    animation: infinityRotate 30s linear infinite;
    width: 100dvh;
    animation-delay: 0s;
}

@keyframes infinityRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-aspect-ratio: 1/1){
    .circle_text{
        width: 85dvw;
    }
}

@media (max-aspect-ratio: 1/2){
    .circle_text{
        width: 110vw;
    }
}