.dialog_content{
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    z-index: -20;
}

.video {
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 20;
}

.fallback{
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.fallback img{
    filter: saturate(0) brightness(0);

}

/*если устройство - телефон*/
@media (max-aspect-ratio: 1/1) {
    .dialog_content{
        width: 90vw;
        height: 60vw;
    }

}
