/* components/VideoPlayer.module.css */
.image_block{
    flex: 1;
    position: relative;
    animation: infinityAnimation infinite  ease-in-out 3s;
    animation-play-state: running;
}
@keyframes infinityAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}

.image_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.dialog_content{
    width: 60%;
    height: 70%;
}

.video {
    transform: scale(1.03);
    display: block;
}

.rotate_play_text{
    opacity: 0;
    transition: 0.3s;
}
/*если устройство - не телефон*/
@media (min-aspect-ratio: 1/1) {
    .image_block:hover{
        animation-play-state: paused;

        .image_block_img{
            filter: brightness(0.3);
        }
        .rotate_play_text{
            opacity: 1;
        }
    }
}

/*если устройство - телефон*/
@media (max-aspect-ratio: 1/1) {
    .image_block:hover{
        animation-play-state: paused;
    }
    .dialog_content{
        width: 90vw;
    }
}
