.dialog_content{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 3vw;
    gap: 2vw;
}

.dialog_content h1{
    position: relative;
}

.dialog_content h1::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 120%;
    border: 1px black solid;
}

@media (max-aspect-ratio: 1/1) {
    .dialog_content{
        width: 80vw;
        height: 60vh;
    }
}