.project_card{
    width: 100%;
    display: flex;
    gap: 4vw;
}

.description{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.image_block{
    flex: 1;
    height: 20vw;
    position: relative;
    animation: infinityAnimation infinite  ease-in-out 3s;
    animation-play-state: running;
    cursor: pointer;

}

.image_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    filter: brightness(0.3);
}


@media (max-aspect-ratio: 1.4/1) {
    .project_card{
        flex-direction: column;
    }
}


@keyframes infinityAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}


/*если устройство - не телефон*/
@media (min-aspect-ratio: 1/1) {
    .image_block:hover{
        animation-play-state: paused;
    }
}

/*если устройство - телефон*/
@media (max-aspect-ratio: 1/1) {
    .image_block:hover{
        animation-play-state: paused;
    }
    .image_block{
        flex: none;
        height: 50vw;
    }
}
