.main_section{
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.main_info{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    line-height: 700%;
    mix-blend-mode: exclusion;
    z-index: 1;
}

.main_info > span{
    font-size: 7svh;
    font-weight: 100;
    line-height: 90%;
}

.main_info > div{
    display: flex;
    flex-direction: column;
}

.main_info > div > span{
    font-size: 13svh;
    font-weight: bold;
    line-height: 90%;
}

.image_block{
    position: relative;
    width: 70svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    position: absolute;
    bottom: 0;
    width: 70svh;
    z-index: 2;
    transform: translateY(0.2dvh);
}

.circle{
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: white;
    width: 70svh;
}

.social{
    position: absolute;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 10px;
    bottom: 2%;
}

.social h3{
    font-weight: 700;
}

.aBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social img{
    filter: brightness(0);
}

@media (max-aspect-ratio: 1.7/1) {
    .main_info{
        flex-direction: column;
        z-index: 10;
        top: 75%;
        text-align: center;
    }
    .main_info > div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main_info > div > span:nth-child(1){
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .main_info > div > span:nth-child(2){
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

@media (max-aspect-ratio: 1/1){
    .image_block{
        bottom: 10%;
        width: 60vw;
    }
    .photo{
        width: 60vw;
    }
    .circle{
        width: 60vw;
    }
    .main_info > span{
        font-size: 7vw;
        font-weight: 100;
        line-height: 90%;
        margin-bottom: 2vh;
    }
    .main_info > div > span{
        font-size: 13vw;
        font-weight: bold;
        line-height: 90%;
    }
}
@media (max-aspect-ratio: 1/2) {
    .image_block{
        width: 80vw;
    }
    .photo{
        width: 80vw;
    }
    .circle{
        width: 80vw;
    }
    .main_info{
        top: 70%;
    }
}
