.stack_page{
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
    max-width: 50vw;
}

@media (max-aspect-ratio:1/1) {
    .stack_page{
        max-width: 100%;
    }
}
